{% extends "base.html" %}

{% block content %}

<div style="
    backdrop-filter: blur(2px);
    width:100%;
    height:calc(100vh - 56px);
    background-image: url('../static/img/ENJOY!.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    color : white;
    padding : 30px;
">


<h1>About The Webiste</h1>
<P>Welcome to our website! Here, you can search a film of your liking and get an information about its plot, genres and rating.</P>
</div>

{% endblock %}

{% block title %}
<title>About Page</title>
{% endblock %}